# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# mesh objects
*.obj

# folders
/Ex2
/Ex3
/Ex4
/Ex5
/Ex6
/dgp2016-exercise2
/dgp2016-exercise3
/dgp2016-exercise4
/dgp2016-exercise5
/dgp2016-exercise6

/Project/latex paper
/Project/3d-printed-lamps-animal-lace.jpg
/Project/3d-project-ideas.txt
/Project/DGPProject.pdf
/Project/IDEA_1st_deliverable.txt
/Project/preprocessing_on_geralt.txt
/Project/processing_ideas.txt
